*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}
.sectional-gap{
    margin-top: 10%;
}
.sectional-gap-bottom{
    padding-bottom: 10%;
}
/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); */

/* banner style starts here */
.banner-controller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text{
    text-align: center;
}
.banner-text h1{
    font-size: 4em;
    font-weight: bold;
}
.banner-text p{
    font-size: 1.3em;
    font-weight: 400;
    margin: 3% 0%;
}

/* next project */
.next-project-section{
    background: url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
}